*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

.menu-contenedor{
    margin: 0px 45px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 25px;

}
.menu-contenedor .enlace ul li{
    position: relative;
    float: left;
}
.menu-contenedor .enlace ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff;
    display: block;
}
.menu-contenedor .enlace ul li a:hover{
    color: #001aff;
}
#menu{
    display: none;
}
.icono-menu{
    width: 25px;
}
.menu-contenedor label{
    cursor: pointer;
    display: none;
}

header{
    background-position: center bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../Pagina-web/img/contexto\ multimedia.avif) 100% / cover no-repeat ;
}
.custom-shape-divider-bottom-1746730356 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1746730552 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 155px;
    background-color: #FFF;
}

.pg{
    width: 90%;
    text-align: center;
}

.pg h1{
    color: #ffffff89;
    font-size: 150px;
    margin-top: -20px;
}
.pg h2{
    color: #ffffff50;
    text-align: center;
    font-size: 60px;
    margin-top: -20px;
    font-weight: 300;
}
main{
 /*    background-color: #cc00ff; */
    display: flex;
    width: auto;
    height: auto;
    margin: 40px 130px;
/*     border: #286bcf solid 2px;
 */}
.multimedia{
    width: 50%;
    height: 70%;
    font-size: 30px;
    padding: 40px 40px;
}
.multimedia h1{
    margin-bottom: 30px;
}
.m_img{
    width: 50%;
    height: 100%;
    margin-top: 20vh;
}
.m_img img{
    width: 100%;
}





section{
/*     width: 100%;
    height: auto; */
    max-width: 100% ;
/*     border: #286bcf solid 2px;
 */    margin: 40px 130px;

}
section .tittle{
    width: 100%;
    font-size: 50px;
    height: auto;
    text-align: center;
    margin-bottom: 60px;
}
section .tipo_video{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           height: auto;
    }
.tipo_video .tipo_1{
    width: 350px;
    margin: 18px;
    text-align: center;
    border: #286bcf solid 3px;
    height: 45vh;
}
.tipo_1 .image{
/*     background-color: #cc00ff; */
    padding-top: 11px;
    height: 60%;
}
.tipo_1 .image img{
    width: 170px;

}
.tipo_1 .info{
/*   background-color: #9dc4ff; */
    width: 100%;
    height: 40%;
/*       margin-top: 11px;  */
}
.info h1{
    padding-top: 11px;
/*     margin-top: 20px; */
}
.info p{
    margin-top: 11px;
}

/* article{
    width: 100%;
}
.video{
    width: 100%;

}
.video img{
    width: 120px;
    height: 90px;
}
.video h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;

}
.video p{
    margin: -40px 180px 40px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.video h2{
    margin: 60px 180px;
    font-size: 40px;
} */
.audio{
    margin: 40px 130px;
    text-align: center;
}
.txt{
    margin: 40px 130px;
    text-align: center;
}
.ttt h1{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



































.footer {
    margin-top: 20px;
    border-top: #5e5e5e 5px solid;
    position: relative;
    background-color: rgb(18, 18, 18);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }



  @media (width < 1280px){
    main{
/*         background-color: #286bcf;
 */        height: auto;
        margin: 40px 130px;
        display: flex;
        flex-direction: column;
        text-align: center;  
 
     }
     .multimedia{
        width: 100%;
/*         background-color: antiquewhite;
 */       
    }
    .multimedia h1{
        font-size: 40px;
    }
    .multimedia p{
        font-size: 20px;
        text-align: start;
    }
    .m_img{
        width: 100%;
        margin-top: 0%;
    }

  }
  .audio{
    margin: 40px 160px;
}
.audio img{
    width: 100%;
    height: 120vh;
}
.txt{
    margin: 40px 160px;
}
.txt img{
    width: 100%;
    height: 140vh;
}
.txt h1{
    font-size: 60px;

}







  
  @media (width < 915px){
    .menu-contenedor{
        padding: 15px;
    }
    .menu-contenedor label{
        display: initial;
    }
    .menu-contenedor .enlace{
        position: absolute;
        z-index: 50;
        top: 100%;
        left: 50;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu-contenedor .enlace ul li {
        width: 100%;
    }
    #menu:checked ~ .enlace{
        display: initial;
    }


    header{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .pg h1{
        font-size: 70px;
         text-align: center;
    }
    main{
/*         background-color: #286bcf;
 */        height: auto;
        margin: 40px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;  
 
     }
     .multimedia{
        width: 100%;
/*         background-color: antiquewhite;
 */       
    }
    .multimedia h1{
        font-size: 40px;
    }
    .multimedia p{
        font-size: 20px;
        text-align: start;
    }
    .m_img{
        width: 100%;
        margin-top: 0%;
    }
    section{
       
        margin: 40px 20px;
        height: auto;
    }
    .tittle h1{
        font-size: 40px;
    }
    section .tipo_1{
        width: 90px;
    }
    .audio{
        margin: 40px 20px;
    }
    .audio img{
        width: 80%;
        height: 40vh;
    }
    .txt{
        margin: 40px 20px;
    }
    .txt img{
        width: 80%;
        height: 60vh;
    }
    .txt h1{
        font-size: 30px;

  }


}
    @media (max-width: 655px) {
    .custom-shape-divider-bottom-1746731192 svg {
        width: calc(143% + 1.3px);
        height: 146px;
    }
        .menu-contenedor{
        padding: 15px;
        
    }
    .menu-contenedor label{
        display: initial;
    }
    .menu-contenedor .enlace{
        position: absolute;
        top: 100%;
        left: 50;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu-contenedor .enlace ul li {
        width: 100%;
    }
    #menu:checked ~ .enlace{
        display: initial;
    }
    
}
  @media (width < 474px){
        .menu-contenedor{
        padding: 15px;
        margin: 0 10px;
       
    }

    header{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pg h1{
        font-size: 60px;
      text-align: center;
    }
    .pg h2{
        margin-top: 5px;
        font-size: 40px;
    }
    main{
       height: auto;
       margin: 40px 20px;
       display: flex;
       flex-direction: column;
       text-align: center;
       

    }
    .multimedia{
        width: 100%;
       
    }
    .multimedia h1{
        font-size: 40px;
    }
    .multimedia p{
        font-size: 20px;
        text-align: start;
    }
    .m_img{
        width: 100%;
        margin-top: 0%;
    }
    section{
       
        margin: 40px 20px;
        height: auto;
    }
    .tittle h1{
        font-size: 40px;
    }
    section .tipo_1{
        width: 90px;
    }
    .audio{
        margin: 40px 20px;
    }
    .audio .au_img{
        width: 100%;
        height: 40vh;
    }
    .audio img{
        width: 100%;
        height: 60vh;
    }
    .txt{
        margin: 40px 20px;
    }
    .txt img{
        width: 100%;
        height: 60vh;
    }
    .txt h1{
        font-size: 30px;
    }

}
  